@use "variable" as v;
@use "common" as c;
/*************************************************
login
*************************************************/
.contents-wrap {
  &#login {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(images/login_bg.jpg) no-repeat center/cover;

    .contents {
      position: absolute;
      @include c.center(center, center);
      width: 44.8rem;
      @include c.mq(md) {
        width: 90%;
        max-width: 50rem;
      }
      .logo {
        width: 100%;
        max-width: 48.7rem;
        margin: 0 auto 3.8rem;
      }
      legend {
        display: none;
      }
      .wpmem_msg {
        margin-bottom: 2rem;
        color: v.$color-re;
      }
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
      .button_div {
        label {
          display: inline-block;
        }
      }
      .div_text {
        margin-bottom: 1rem;
      }
      #wpmem_login,
      #wpmem_reg {
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          width: 100%;
          padding: 1rem 2.5rem;
          background-color: #fff;
          border-radius: 100vmax;
        }
        input[type="submit"] {
          width: 100%;
          aspect-ratio: 1/0.1;
          border-radius: 100vmax;
          font-family: v.$font-poppins;
          font-size: 1.5rem;
          font-weight: 700;
          text-align: center;
          color: #fff;
          box-shadow: v.$shadow02, v.$shadow03;
          background-color: v.$color-re;
          margin: 2rem 0 3rem;
        }
      }
      .login_status,
      .register_status {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        a {
          @include c.flex(center, center);
          width: 100%;
          aspect-ratio: 1/0.1;
          border-radius: 100vmax;
          font-family: v.$font-poppins;
          font-size: 1.5rem;
          font-weight: 700;
          text-align: center;
          color: #fff;
          box-shadow: v.$shadow02, v.$shadow03;
          background-color: #606060;
          margin: 2rem 0 3rem;
        }
      }
      .register_links {
        li {
          a {
            @include c.flex(center, center);
            width: 100%;
            aspect-ratio: 1/0.1;
            border-radius: 100vmax;
            font-family: v.$font-poppins;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            color: #fff;
            box-shadow: v.$shadow02, v.$shadow03;
            background-color: #606060;
            margin: 2rem 0 1.5rem;
          }
          &:nth-of-type(2) {
            margin-bottom: 3rem;
            a {
              background-color: v.$color-re;
            }
          }
        }
      }
      .link-text-register,
      .req-text {
        display: none;
      }
      .links {
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
