@use "variable" as v;
@use "common" as c;
/*************************************************
conatct
*************************************************/
// お問い合わせ,検索結果,マイページ
#pageContact,
#pagePolicy,
#pageMypage,
#search {
  h2 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 2.5rem;
  }
  .inner {
    padding: 2rem 0;
  }
}

// お問い合わせ
#pageContact {
  .contact_wrap {
    margin-bottom: 8rem;
  }
  table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 2rem;
    tr {
      &:last-of-type {
        th {
          vertical-align: baseline;
        }
      }
      th,
      td {
        padding: 2rem 0;
        @include c.mq() {
          display: block;
          padding: 0.5rem 0;
        }
      }
      th {
        width: 20%;
        vertical-align: middle;
        @include c.mq() {
          width: 100%;
        }
        &.reqd {
          position: relative;
          span {
            color: v.$color-re;
            margin-left: 3px;
          }
        }
      }
      td {
        @include c.mq() {
          padding-bottom: 1.5rem;
        }
        input,
        textarea {
          width: 100%;
          background-color: #fff;
          border: 1px solid #aaa;
          border-radius: 5px;
          padding: 1rem 1.5rem;
        }
        textarea {
          aspect-ratio: 1/0.3;
          @include c.mq() {
            aspect-ratio: 1/0.5;
          }
        }
      }
    }
  }
  .btn_wrap {
    width: 18rem;
    text-align: center;
    margin: 0 auto 2rem;
    .btn {
      border-radius: 100vmax;
    }
  }
  .wpcf7-spinner {
    display: none;
  }
  .policy {
    text-align: center;
    label {
      @include c.flex(center, center);
      gap: 1rem;
    }
  }
  .thanks {
    p {
      margin-bottom: 2rem;
    }
    .btn-wrap {
      margin-top: 6rem;
      max-width: 30rem;
    }
  }
}

//プライバシーポリシー
#pagePolicy {
  .policy_wrap {
    margin-bottom: 10rem;
    @include c.mq() {
      margin-bottom: 6rem;
    }
    .first-text {
      margin-bottom: 3rem;
    }
    .block {
      padding: 4rem 0;
      border-bottom: 1px solid #c6c4c2;
      &:last-of-type {
        margin-bottom: 0;
        border-bottom: none;
      }
      > :last-child {
        margin-bottom: 0;
      }
      p,
      ul {
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 1rem;
        a {
          color: #0000ee;
        }
      }
      h3 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
      ul {
        li {
          position: relative;
          padding-left: 2rem;
          &::before {
            position: absolute;
            top: 9px;
            left: 0;
            content: "";
            width: 5px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: #333;
          }
        }
      }
    }
  }
}

//検索結果
#search {
  .search-block {
    padding: 3rem 2rem;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 4rem;
    &:has(.view-more) {
      .search-items {
        margin-bottom: 4rem;
      }
    }
    .companyCard01 {
      padding-left: 0;
      margin-bottom: 0;
      &:first-of-type {
        > div {
          padding-top: 0;
        }
      }
    }
    .companyCard02 {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
      .btn-wrap {
        @include c.mq() {
          width: 13rem;
          right: 0;
          bottom: 0;
        }
      }
      &:first-of-type {
        padding-top: 0;
        .btn-wrap {
          @include c.mq() {
            top: 1rem;
          }
        }
        .favorite-button-container {
          top: 1rem;
        }
      }
      .favorite-button-container {
        left: calc(27.5rem - 3rem);
        @include c.mq() {
          left: auto;
          right: 1rem;
        }
      }
    }
    .view-more {
      width: 25rem;
      margin: 0 auto;
    }
  }
}

// マイページ
.mypage_wrap {
  padding-top: 2rem;
  h3 {
    @include c.flex(start, center);
    gap: 7px;
    font-family: v.$font-poppins;
    font-family: 2rem;
    font-weight: 600;
    margin-bottom: 4.5rem;
    @include c.mq() {
      font-size: 1.8rem;
      margin-bottom: 2.5rem;
    }
  }
  .no-favorites-message {
    p {
      font-size: 1.8rem;
    }
  }
  .pagination {
    margin-top: 6rem;
    @include c.flex(center, center);
    gap: 2rem;
    span,
    a {
      font-family: v.$font-poppins;
      font-weight: 600;
    }
    a {
      color: #adaba9;
    }
  }
}
